<section class="w-1/2 mx-auto bg-gray-50 border-2 rounded shadow-md py-8">
  <h1 class="text-3xl text-center mb-20">ForgotPassword</h1>
  @if (step==1) {
  <div class="verifyemail">
    <div class="w-1/2 mx-auto mb-10">
      <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubnet()">
        @let email=verifyEmail.get('email');
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="mb-2 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        @if (email?.errors&&email?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (email?.getError('required')) {
              <li>Email is required.</li>
              } @if (email?.getError('email')) {
              <li>Please enter a valid email address</li>
              }
            </ul>
          </div>
        </div>

        }
        <button
          [disabled]="verifyEmail.invalid"
          class="btn-main mb-2"
          type="submit"
        >
          Verify Email
        </button>
      </form>
    </div>
  </div>
  } @else if (step==2) {
  <div class="verifyemail">
    <h1 class="text-3xl text-center mb-20">Verify Code</h1>
    <div class="w-1/2 mx-auto mb-10">
      <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubnet()">
        @let code=verifyCode.get('resetCode');
        <label for="code">Verify code</label>
        <input
          formControlName="resetCode"
          type="text"
          id="code"
          class="mb-2 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        @if (code?.errors&&code?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (code?.getError('required')) {
              <li>code is required.</li>
              } @if (code?.getError('pattern')) {
              <li>Please enter a valid code address</li>
              }
            </ul>
          </div>
        </div>

        }
        <button
          [disabled]="verifyCode.invalid"
          class="btn-main mb-2"
          type="submit"
        >
          Verify Code
        </button>
      </form>
    </div>
  </div>
  } @else if(step==3) {
  <div class="verifyemail">
    <h1 class="text-3xl text-center mb-20">New Password</h1>
    <div class="w-1/2 mx-auto mb-10">
      <form [formGroup]="newPassword" (ngSubmit)="verifyPasswordSubnet()">
        @let password=newPassword.get('newPass'); @let
        email=verifyEmail.get('email');
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          class="mb-2 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />

        @if (email?.errors&&email?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (email?.getError('required')) {
              <li>Email is required.</li>
              } @if (email?.getError('email')) {
              <li>Please enter a valid email address</li>
              }
            </ul>
          </div>
        </div>

        }

        <label for="pass">Enter new password</label>
        <input
          formControlName="newPass"
          type="password"
          id="pass"
          class="mb-2 bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        />
        @if (password?.errors&&password?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (password?.getError('required')) {
              <li>code is required.</li>
              } @if (password?.getError('pattern')) {
              <li>
                Password must start with a capital letter and be at least 8
                characters long.
              </li>
              }
            </ul>
          </div>
        </div>

        }
        <button
          [disabled]="newPassword.invalid"
          class="btn-main mb-2"
          type="submit"
        >
          Verify Password
        </button>
      </form>
    </div>
  </div>
  }
</section>
