<section>
  <h2 class="text-3xl pb-2 font-bold text-green-700">All Products</h2>
  <div class="flex justify-center my-6">
    <div class="w-full max-w-md">
      <label for="search" class="block text-md font-medium mb-1">Search:</label>
      <input
        id="search"
        type="text"
        [(ngModel)]="searchTerm"
        (input)="filterProducts()"
        placeholder="Search..."
        class="border border-gray-300 rounded-md px-4 py-2 w-full text-slate-500 focus:outline-none focus:ring-2 focus:ring-green-400"
      />
    </div>
  </div>

  <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10">
    @for (product of filteredProducts; track product.id) {
    <div
      class="card border border-green-400/50 rounded-md overflow-hidden shadow relative cursor-pointer"
    >
      <div [routerLink]="['/details', product.id]">
        <div class="card-img">
          <img
            [src]="product.imageCover"
            class="w-full h-[250px] object-contain"
            [alt]="product.title"
          />
        </div>
        <div class="card-body px-2 py-4">
          <h4 class="text-green-500 text-xs">{{ product.category.name }}</h4>
          <h3 class="font-medium">
            {{ product.title.split(" ", 2).join(" ") }}
          </h3>
          <div class="flex justify-between items-center">
            <span>{{ product.price }}EGP</span>
            <div class="flex items-center">
              <i class="fas fa-star text-yellow-300"></i>
              <span class="text-gray-500">{{ product.ratingsAverage }}</span>
            </div>
          </div>
        </div>
      </div>

      <button
        class="bg-green-600 px-6 py-2 rounded border text-white my-1 block w-[95%] mx-auto"
        (click)="addProductToCart(product.id)"
      >
        Add to cart
      </button>
    </div>

    }
  </div>
</section>
