<section class="w-1/2 mx-auto bg-gray-50 border-2 rounded shadow-md py-8">
  <h1 class="text-green-600 font-bold text-center pb-4">Register Now</h1>
  <form action="" class="px-5" [formGroup]="register" (ngSubmit)="submitForm()">
    <div class="mb-1">
      @let name=register.get('name');
      <label
        for="Name"
        class="block mb-2 text-sm font-bold text-gray-900 dark:text-white"
        >Name</label
      >
      <input
        formControlName="name"
        type="text"
        id="Name"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (name?.errors && name?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (name?.getError('required')) {
            <li>Name is required.</li>
            } @if (name?.getError('minlength')) {
            <li>Name must be at least 3 characters long.</li>
            } @if (name?.getError('maxlength')) {
            <li>Name must not exceed 20 characters.</li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <div class="mb-1">
      @let email=register.get('email');
      <label
        for="Email"
        class="block mb-2 text-sm font-bold text-gray-900 dark:text-white"
        >Email</label
      >
      <input
        formControlName="email"
        type="email"
        id="Email"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (email?.errors && email?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (email?.getError('required')) {
            <li>email is required.</li>
            } @if (email?.getError('email')) {
            <li>Please enter a valid email address</li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <div class="mb-1">
      @let password=register.get('password');
      <label
        for="Password"
        class="block mb-2 text-sm font-bold text-gray-900 dark:text-white"
        >Password</label
      >
      <input
        formControlName="password"
        type="password"
        id="Password"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (password?.errors && password?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (password?.getError('required')) {
            <li>password is required.</li>
            } @if (password?.getError('pattern')) {
            <li>
              Password must start with a capital letter and be at least 8
              characters long.
            </li>
            <li>
              Password can only contain letters, numbers, and underscores.
            </li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <div class="mb-1">
      <label
        for="rePassword"
        class="block mb-2 text-sm font-bold text-gray-900 dark:text-white"
        >rePassword</label
      >
      <input
        formControlName="rePassword"
        type="password"
        id="rePassword"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (register.get('rePassword')?.getError('required') &&
      register.get('rePassword')?.touched) {

      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            <li>rePasswords is required.</li>
          </ul>
        </div>
      </div>

      } @if (register.getError('mismatch') &&
      register.get('rePassword')?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if
            (register.getError('mismatch')&&register.get('rePassword')?.touched)
            {
            <li>Passwords do not match</li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <div class="mb-1">
      @let phone=register.get('phone');
      <label
        for="Phone"
        class="block mb-2 text-sm font-bold text-gray-900 dark:text-white"
        >Phone</label
      >
      <input
        formControlName="phone"
        type="tel"
        id="Phone"
        class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if (phone?.errors && phone?.touched) {
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <ul class="mt-1.5 list-disc list-inside">
            @if (phone?.getError('required')) {
            <li>phone is required.</li>
            } @if (phone?.getError('pattern')) {

            <li>
              Please enter a valid Egyptian phone number (e.g., 01xxxxxxxxx).
            </li>
            }
          </ul>
        </div>
      </div>

      }
    </div>

    <button [disabled]="isLoading" class="btn-main mb-2" type="submit">
      SignUp @if (isLoading) {
      <i class="fas fa-spin fa-spinner"></i>
      }
    </button>
    @if (messageErr) {
    <p class="bg-red-500 text-white px-4 py-6 border rounded-md">
      {{ messageErr }}
    </p>
    } @if (isSuccess) {
    <p class="bg-green-500 text-white px-4 py-6 border rounded-md">
      {{ isSuccess }}
    </p>
    }
  </form>
</section>
